In [ ]:
# Copyright 2021 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# =====

# Training and Deploying Multi-Stage Recommender Systems

In this notebook, we are going to use publicly available [eCommerce](https://www.kaggle.com/mkechinov/ecommerce-behavior-data-from-multi-category-store) behavior dataset. The full dataset contains 7 months data (from October 2019 to April 2020) from a large multi-category online store. Each row in the file represents an event. All events are related to products and users. Each event is like many-to-many relation between products and users. Data collected by Open CDP project and the source of the dataset is [REES46 Marketing Platform](https://rees46.com/).

We use csv files from 2019-Oct to 2020-April for training and validating our models, so you can visit this site and download the csv files: https://www.kaggle.com/mkechinov/ecommerce-behavior-data-from-multi-category-store.

**Learning Objectives**

- Preliminary pre-processing and cleaning of the 7 months of Ecom-REES46 datasets.

In [1]:
import os
import pandas as pd
import glob
import cudf
import numpy as np
import gc

In [2]:
list_files = glob.glob('/workspace/data/ecom/*.csv')

In [3]:
list_files

['/workspace/data/ecom/2019-Dec.csv',
 '/workspace/data/ecom/2020-Jan.csv',
 '/workspace/data/ecom/2020-Feb.csv',
 '/workspace/data/ecom/2019-Oct.csv',
 '/workspace/data/ecom/2020-Mar.csv',
 '/workspace/data/ecom/2020-Apr.csv',
 '/workspace/data/ecom/2019-Nov.csv']

Next, we process a single .csv file and extract/filter the rows

In [6]:
def process_files(file):
    df_tmp = pd.read_csv(file)
    df_tmp['session_purchase'] =  df_tmp['user_session'] + '_' + df_tmp['product_id'].astype(str)
    df_purchase = df_tmp[df_tmp['event_type']=='purchase']
    df_cart = df_tmp[df_tmp['event_type']=='cart']
    df_purchase = df_purchase[df_purchase['session_purchase'].isin(df_cart['session_purchase'])]
    df_cart = df_cart[~(df_cart['session_purchase'].isin(df_purchase['session_purchase']))]
    df_cart['target'] = 0
    df_purchase['target'] = 1
    df = pd.concat([df_cart, df_purchase])
    df = df.drop('category_id', axis=1)
    df = df.drop('session_purchase', axis=1)
    df[['cat_0', 'cat_1', 'cat_2', 'cat_3']] = df['category_code'].str.split("\.", n = 3, expand = True).fillna('NA')
    df['brand'] = df['brand'].fillna('NA')
    df = df.drop('category_code', axis=1)
    df['timestamp'] = pd.to_datetime(df['event_time'].str.replace(' UTC', ''))
    df['ts_month'] = df['timestamp'].dt.month
    df['event_time_ts']= df['timestamp'].astype('int')

    df.to_csv('./' + file.replace('/workspace/data/ecom', ''), index=False)

In [7]:
for file in list_files:
    print(file)
    process_files(file)

/workspace/data/ecom/2019-Dec.csv

/tmp/ipykernel_33140/1275188845.py:18: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['event_time_ts']= df['timestamp'].astype('int')

/workspace/data/ecom/2020-Jan.csv
/workspace/data/ecom/2020-Feb.csv
/workspace/data/ecom/2019-Oct.csv
/workspace/data/ecom/2020-Mar.csv
/workspace/data/ecom/2020-Apr.csv
/workspace/data/ecom/2019-Nov.csv

In [2]:
lp = []
list_files = glob.glob('./*.csv')

In [3]:
for file in list_files:
    lp.append(cudf.read_csv(file))

In [4]:
df = cudf.concat(lp)

In [5]:
# Be sure the timestamp column is a datetime object

In [6]:
df['timestamp'] = df['timestamp'].astype('datetime64[s]')

In [7]:
df.shape

(16695562, 15)

In [8]:
df.head(2)

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_month,event_time_ts
0,2019-12-01 00:00:28 UTC,cart,17800342,zeta,66.90,550465671,22650a62-2d9c-4151-9f41-2674ec6d32d5,0,computers,desktop,<NA>,<NA>,2019-12-01 00:00:28,12,1575158428000000000
1,2019-12-01 00:00:39 UTC,cart,3701309,polaris,89.32,543733099,a65116f4-ac53-4a41-ad68-6606788e674c,0,appliances,environment,vacuum,<NA>,2019-12-01 00:00:39,12,1575158439000000000

In [9]:
df.dtypes

event_time              object
event_type              object
product_id               int64
brand                   object
price                  float64
user_id                  int64
user_session            object
target                   int64
cat_0                   object
cat_1                   object
cat_2                   object
cat_3                   object
timestamp        datetime64[s]
ts_month                 int64
event_time_ts            int64
dtype: object

In [10]:
df['timestamp'].min(), df['timestamp'].max()

(numpy.datetime64('2019-10-01T00:05:14'),
 numpy.datetime64('2020-04-30T23:59:55'))

In [8]:
df.to_parquet('/workspace/data/ecom/df_Oct_Apr.parquet')

In [8]:
df_train = df[(df['ts_month']!=3)&(df['ts_month']!=4)]

In [9]:
df_valid = df[~((df['ts_month']!=3)&(df['ts_month']!=4))]

In [10]:
df_train.shape, df_valid.shape

((11461357, 15), (5234205, 15))

In [11]:
df_train['event_type'].value_counts()

cart        7255909
purchase    4205448
Name: event_type, dtype: int32

In [12]:
df_train.head(2)

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_month,event_time_ts
0,2019-12-01 00:00:28 UTC,cart,17800342,zeta,66.90,550465671,22650a62-2d9c-4151-9f41-2674ec6d32d5,0,computers,desktop,<NA>,<NA>,2019-12-01 00:00:28,12,1575158428000000000
1,2019-12-01 00:00:39 UTC,cart,3701309,polaris,89.32,543733099,a65116f4-ac53-4a41-ad68-6606788e674c,0,appliances,environment,vacuum,<NA>,2019-12-01 00:00:39,12,1575158439000000000

In [13]:
df =None
del df
gc.collect()

91

### Select users with minimum interactions in both train and valid sets

In [14]:
df_train.groupby('user_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    2.547058e+06
mean     4.499841e+00
std      9.173176e+00
min      1.000000e+00
0%       1.000000e+00
5%       1.000000e+00
10%      1.000000e+00
15%      1.000000e+00
20%      1.000000e+00
25%      1.000000e+00
30%      1.000000e+00
35%      1.000000e+00
40%      2.000000e+00
45%      2.000000e+00
50%      2.000000e+00
55%      2.000000e+00
60%      3.000000e+00
65%      3.000000e+00
70%      4.000000e+00
75%      5.000000e+00
80%      6.000000e+00
85%      7.000000e+00
90%      1.000000e+01
95%      1.500000e+01
100%     2.134000e+03
max      2.134000e+03
dtype: float64

In [15]:
df_train.groupby('product_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    164453.000000
mean         69.693815
std        1719.608272
min           1.000000
0%            1.000000
5%            1.000000
10%           1.000000
15%           1.000000
20%           1.000000
25%           2.000000
30%           2.000000
35%           3.000000
40%           3.000000
45%           4.000000
50%           5.000000
55%           6.000000
60%           7.000000
65%           9.000000
70%          12.000000
75%          16.000000
80%          22.000000
85%          33.000000
90%          55.000000
95%         126.000000
100%     317711.000000
max      317711.000000
dtype: float64

In [16]:
df_train.user_id.nunique(), df_train.product_id.nunique()

(2547058, 164453)

Avoid heavy users- cap users' high interactions keeping only the last 50 (max) interactions

In [17]:
df_train = df_train.sort_values(['user_id', 'event_time_ts'], ascending=False)
df_train["ones"] = 1
df_train['cumsum'] = df_train.groupby('user_id')['ones'].cumsum()
df_train = df_train[df_train['cumsum'] <= 50]

In [18]:
df_train.groupby('user_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    2.547058e+06
mean     4.317207e+00
std      6.332042e+00
min      1.000000e+00
0%       1.000000e+00
5%       1.000000e+00
10%      1.000000e+00
15%      1.000000e+00
20%      1.000000e+00
25%      1.000000e+00
30%      1.000000e+00
35%      1.000000e+00
40%      2.000000e+00
45%      2.000000e+00
50%      2.000000e+00
55%      2.000000e+00
60%      3.000000e+00
65%      3.000000e+00
70%      4.000000e+00
75%      5.000000e+00
80%      6.000000e+00
85%      7.000000e+00
90%      1.000000e+01
95%      1.500000e+01
100%     5.000000e+01
max      5.000000e+01
dtype: float64

In [19]:
def filter_by_freq(df_to_filter: cudf.DataFrame, df_for_stats: cudf.DataFrame, column: str, min_freq: int) -> cudf.DataFrame:
    # Frequencies of each value in the column.
    freq = df_for_stats[column].value_counts()
    # Select frequent values. Value is in the index.
    frequent_values = freq[freq >= min_freq].index
    # Return only rows with value frequency above threshold.
    return df_to_filter[df_to_filter[column].isin(frequent_values)]

In [20]:
NUM_ROUNDS_MIN_FREQ_FILTERING=5
MIN_USER_FREQ=2
MIN_ITEM_FREQ=2

In [21]:
print('Before filtering: ', len(df_train))
for r in range(NUM_ROUNDS_MIN_FREQ_FILTERING):
    print(f'Round #{r}')
    df_train = filter_by_freq(df_to_filter=df_train, df_for_stats=df_train, 
                                      column='user_id', min_freq=MIN_USER_FREQ)
    print('After filtering users: ',len(df_train))
    df_train = filter_by_freq(df_to_filter=df_train, df_for_stats=df_train, 
                                      column='product_id', min_freq=MIN_ITEM_FREQ)
    print('After filtering items: ',len(df_train))

Before filtering:  10996177
Round #0
After filtering users:  10040841
After filtering items:  10007541
Round #1
After filtering users:  10003785
After filtering items:  10003589
Round #2
After filtering users:  10003563
After filtering items:  10003561
Round #3
After filtering users:  10003561
After filtering items:  10003561
Round #4
After filtering users:  10003561
After filtering items:  10003561

In [22]:
gc.collect()

190

In [23]:
df_train.groupby('product_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    123167.000000
mean         81.219491
std        1722.880563
min           2.000000
0%            2.000000
5%            2.000000
10%           2.000000
15%           2.000000
20%           3.000000
25%           3.000000
30%           4.000000
35%           4.000000
40%           5.000000
45%           6.000000
50%           7.000000
55%           9.000000
60%          11.000000
65%          13.000000
70%          16.000000
75%          21.000000
80%          29.000000
85%          42.000000
90%          69.000000
95%         154.000000
100%     269776.000000
max      269776.000000
dtype: float64

In [24]:
df_train.groupby('user_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    1.587740e+06
mean     6.300503e+00
std      7.304085e+00
min      2.000000e+00
0%       2.000000e+00
5%       2.000000e+00
10%      2.000000e+00
15%      2.000000e+00
20%      2.000000e+00
25%      2.000000e+00
30%      3.000000e+00
35%      3.000000e+00
40%      3.000000e+00
45%      3.000000e+00
50%      4.000000e+00
55%      4.000000e+00
60%      5.000000e+00
65%      5.000000e+00
70%      6.000000e+00
75%      7.000000e+00
80%      8.000000e+00
85%      1.000000e+01
90%      1.300000e+01
95%      2.000000e+01
100%     5.000000e+01
max      5.000000e+01
dtype: float64

In [25]:
gc.collect()

50

In [26]:
df_train.isnull().any()

event_time       False
event_type       False
product_id       False
brand             True
price            False
user_id          False
user_session      True
target           False
cat_0             True
cat_1             True
cat_2             True
cat_3             True
timestamp        False
ts_month         False
event_time_ts    False
ones             False
cumsum           False
dtype: bool

In [27]:
df_train = df_train.drop(['ones', 'cumsum'], axis=1)

In [28]:
df_train.head(2)

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_month,event_time_ts
1629589,2020-02-29 23:55:06 UTC,cart,1004767,samsung,241.83,622090083,65966337-af0b-48c9-922a-f68fa8ff7764,0,construction,tools,light,<NA>,2020-02-29 23:55:06,2,1583020506000000000
1629590,2020-02-29 23:55:06 UTC,cart,1004767,samsung,241.83,622090083,65966337-af0b-48c9-922a-f68fa8ff7764,0,construction,tools,light,<NA>,2020-02-29 23:55:06,2,1583020506000000000

In [29]:
df_train.user_id.nunique(), df_train.product_id.nunique()

(1587740, 123167)

In [31]:
df_train = df_train.reset_index(drop=True)

In [32]:
df_train.head()

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_month,event_time_ts
0,2020-02-29 23:55:06 UTC,cart,1004767,samsung,241.83,622090083,65966337-af0b-48c9-922a-f68fa8ff7764,0,construction,tools,light,<NA>,2020-02-29 23:55:06,2,1583020506000000000
1,2020-02-29 23:55:06 UTC,cart,1004767,samsung,241.83,622090083,65966337-af0b-48c9-922a-f68fa8ff7764,0,construction,tools,light,<NA>,2020-02-29 23:55:06,2,1583020506000000000
2,2020-02-29 23:49:59 UTC,cart,1004856,samsung,130.39,622087347,3dbfaab7-a223-45d1-a98f-65a5026f4266,0,construction,tools,light,<NA>,2020-02-29 23:49:59,2,1583020199000000000
3,2020-02-29 23:44:07 UTC,purchase,1005160,xiaomi,176.90,622087347,3dbfaab7-a223-45d1-a98f-65a5026f4266,1,construction,tools,light,<NA>,2020-02-29 23:44:07,2,1583019847000000000
4,2020-02-29 23:17:12 UTC,cart,1005236,oppo,205.67,622081857,20607bd6-27d7-45b3-b898-2dcf7f8d40fd,0,construction,tools,light,<NA>,2020-02-29 23:17:12,2,1583018232000000000

In [33]:
df_train.to_parquet('/workspace/data/ecom/train.parquet')

### Valid and Test Sets

Be sure that test set does not have OOV.

In [34]:
df_valid.shape

(5234205, 15)

In [35]:
df_valid['ts_month'].value_counts()

4    2772486
3    2461719
Name: ts_month, dtype: int32

In [36]:
df_valid = df_valid[df_valid['user_id'].isin(df_train['user_id'].unique()) & df_valid['product_id'].isin(df_train['product_id'].unique())]
len(df_valid)

1752723

In [37]:
df_valid['ts_month'].value_counts()

3    1080744
4     671979
Name: ts_month, dtype: int32

In [38]:
df_valid.groupby('user_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    403410.000000
mean          4.344768
std           7.149802
min           1.000000
0%            1.000000
5%            1.000000
10%           1.000000
15%           1.000000
20%           1.000000
25%           1.000000
30%           1.000000
35%           2.000000
40%           2.000000
45%           2.000000
50%           2.000000
55%           3.000000
60%           3.000000
65%           4.000000
70%           4.000000
75%           5.000000
80%           6.000000
85%           7.000000
90%           9.000000
95%          14.000000
100%        939.000000
max         939.000000
dtype: float64

In [39]:
df_valid.groupby('product_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    59670.000000
mean        29.373605
std        364.985269
min          1.000000
0%           1.000000
5%           1.000000
10%          1.000000
15%          1.000000
20%          1.000000
25%          2.000000
30%          2.000000
35%          2.000000
40%          3.000000
45%          3.000000
50%          4.000000
55%          5.000000
60%          6.000000
65%          7.000000
70%          9.000000
75%         12.000000
80%         16.000000
85%         22.000000
90%         34.000000
95%         72.000000
100%     32654.000000
max      32654.000000
dtype: float64

Avoid heavy users- cap users' high interactions keeping only the last 50 (max) interactions

In [40]:
valid = df_valid.sort_values(['user_id', 'event_time_ts'], ascending=False)
valid["ones"] = 1
valid['cumsum'] = valid.groupby('user_id')['ones'].cumsum()
valid = valid[valid['cumsum'] <= 50]

In [41]:
valid.groupby('user_id').size().describe(percentiles=np.arange(0.0, 1.05, 0.05))

count    403410.000000
mean          4.245519
std           5.588955
min           1.000000
0%            1.000000
5%            1.000000
10%           1.000000
15%           1.000000
20%           1.000000
25%           1.000000
30%           1.000000
35%           2.000000
40%           2.000000
45%           2.000000
50%           2.000000
55%           3.000000
60%           3.000000
65%           4.000000
70%           4.000000
75%           5.000000
80%           6.000000
85%           7.000000
90%           9.000000
95%          14.000000
100%         50.000000
max          50.000000
dtype: float64

In [42]:
valid = valid.drop(['ones', 'cumsum'], axis=1)

In [43]:
valid['ts_month'].value_counts()

3    1046793
4     665892
Name: ts_month, dtype: int32

In [44]:
df_valid=None
del df_valid
gc.collect()

202

### Split Valid set as validation and test sets

In [45]:
valid_final = valid[(valid['ts_month']==3)]
test = valid[(valid['ts_month']==4)]

In [46]:
test.user_id.nunique(), test.product_id.nunique()

(209477, 36269)

In [47]:
valid.user_id.nunique(), valid.product_id.nunique()

(403410, 59451)

In [59]:
valid_final.shape, test.shape

((1046793, 15), (665892, 15))

In [49]:
valid_final['ts_month'].value_counts(), test['ts_month'].value_counts()

(3    1046793
 Name: ts_month, dtype: int32,
 4    665892
 Name: ts_month, dtype: int32)

In [50]:
valid=None
del valid
gc.collect()

23

In [51]:
valid_final = valid_final.reset_index(drop=True)
test = test.reset_index(drop=True)

In [54]:
valid_final.to_parquet('/workspace/data/ecom/valid.parquet')
test.to_parquet('/workspace/data/ecom/test.parquet')